*.class
*.iml
*.jar
.cpcache/
.DS_Store
.hg/
.hgignore
.specljs-timestamp
/.idea
/.nrepl-port
/checkouts
/classes
/resources/public/cljs
/resources/public/css/scattergories.css
/resources/public/js/compiled
/resources/public/js/main.js
/target
/tmp
node_modules/
package-lock.json
pom.xml
pom.xml.asc
profiles.clj
